@import '../../styles/index.less';

.@{component-prefix}-button {
  padding: 5px 15px;
  width: fit-content;
  border-radius: 3px;
  background-color: #49f;
  color: #fff;
  transition: background .2s;
}